{% extends "base.html" %}

{%  block body %}
 
    <h1>{{repo_key}} commit history</h1>
 
     {% for commits_per_day in commits %}
        <table class="table table-striped table-bordered table-condensed table-custom">
            <thead>
                <tr>
                    <th> 
                        {{ commits_per_day[0].author.time|convert_unix_time('%d %b %Y') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for commit in commits_per_day %}
                <tr>
                    <td>
                    <div class="row-fluid">
                        <div class="span2">
                            <img class="avatar" src="{{ commit.author.email | gravatar }}" alt="{{commit.author.email}} gravatar">
                        </div>
                        <div class="span8">
                            <strong>{{ commit.message|truncate(75) }}</strong>
                            <p><small>{{ commit.author.name }} at {{commit.author.time|convert_unix_time('%H:%M:%S') }}</small> </p>
                        </div>
                        <div class="span2">
                            <a href="{{ url_for('commit_detail', repo_key=repo_key, commit_key=commit.hex) }}" 
                            class="btn btn-primary btn-mini">
                            {{commit.hex|truncate_hex(10)}} <i class="icon-circle-arrow-right icon-white"></i>
                            </a>
                        </div>
                   
                    </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
     {% endfor %}
      

{% endblock body %}
