{% extends "base.html" %}

{%  block body %}
 
    <h1>{{repo_key}} commit history</h1>
 
    <form name="branches">
        <select id="branch" OnChange="window.open(branches.branch.options[selectedIndex].value)">
            {% for ref in references%}
                {% if ref == selected_branch %}
                    <option selected value="{{ url_for('commit_history', repo_key=repo_key, branch=ref) }}">{{ref}}</option>
                {% else %}
                    <option value="{{ url_for('commit_history', repo_key=repo_key, branch=ref) }}">{{ref}}</option>
                {% endif %}
            {%endfor%}
        </select>
    </form>
     {% for commits_per_day in commits %}
        <table class="table table-striped table-bordered table-condensed table-custom">
            <thead>
                <tr>
                    <th> 
                        {{ commits_per_day[0].commit_time|convert_unix_time('%d %b %Y') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for commit in commits_per_day %}
                <tr>
                    <td>
                    <div class="row-fluid">
                        <div class="span2">
                            <img class="avatar" src="{{ commit.author | get_email_from_commit_author | gravatar }}" alt="{{commit.author | get_email_from_commit_author}} gravatar">
                        </div>
                        <div class="span8">
                            <strong>{{ commit.message|truncate(75) }}</strong>
                            <p><small>{{ commit.author | get_author_from_commit_author }} at {{commit.commit_time|convert_unix_time('%H:%M:%S') }}</small> </p>
                        </div>
                        <div class="span2">
                            <a href="{{ url_for('commit_detail', repo_key=repo_key, commit_key=commit.id) }}" 
                            class="btn btn-primary btn-mini">
                            {{commit.id|truncate_hex(10)}} <i class="icon-circle-arrow-right icon-white"></i>
                            </a>
                        </div>
                   
                    </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
     {% endfor %}
      

{% endblock body %}
